{% extends 'default.html.twig' %}

{% block content %}

    {{ page.content }}

    {% include "forms/form.html.twig" %}

    <script>
        $(function() {
            var currentPage = 0;

            $(document).on('click tap', '.js__load-more', function(event) {
               $.getJSON(window.location + '/page:' + (currentPage + 1))
                .success(function(response) {
                    currentPage = parseInt(response.page);

                    response.messages.forEach(function(message) {
                        $('.js__messages-container').append('<tr>' +
                                '<td>' + message.text + '<br />{{'PLUGIN_GUESTBOOK.WRITTEN_ON'|t}} ' + message.date + ' {{'PLUGIN_GUESTBOOK.BY'|t}} ' + message.author + '</td></tr>');
                    })

                    var totalRetrieved = response.itemsPerPage * (parseInt(response.page) + 1);

                    $('.totalRetrieved').html(totalRetrieved);
                    $('.totalAvailable').html(response.totalAvailable);

                    if (totalRetrieved >= response.totalAvailable) {
                        $('.totalRetrieved').html($('.totalAvailable').html());
                        $('.js__load-more').hide();
                    }
                })
                .error(function() {
                    alert('Unexpected error');
                });
            });
        });
    </script>

    {% if grav.twig.guestbookMessages|length %}

        <h3>{{'PLUGIN_GUESTBOOK.MESSAGES'|t}}</h3>

        <table class="js__messages-container">
            {% for message in grav.twig.guestbookMessages.messages %}
            <tr>
                <td>
                    {{message.text|e}}
                    <br />
                    {{'PLUGIN_GUESTBOOK.WRITTEN_ON'|t}} {{message.date|e}} {{'PLUGIN_GUESTBOOK.BY'|t}} {{message.author|e}}
                </td>
            </tr>
            {% endfor %}
        </table>

        {% if grav.twig.guestbookMessages.totalRetrieved < grav.twig.guestbookMessages.totalAvailable %}
            <form>
                <div class="buttons">
                    <button type="button" class="button js__load-more">
                        Load more
                    </button>
                </div>
            </form>
        {% endif %}

        <p class="center">Showing <span class="totalRetrieved">{{grav.twig.guestbookMessages.totalRetrieved}}</span> messages of <span class="totalAvailable">{{grav.twig.guestbookMessages.totalAvailable}}</span></p>

    {% endif %}

{% endblock %}