{% extends 'default.html.twig' %}

{% block content %}
    {{ page.content|raw }}

    {% include "forms/form.html.twig" %}

    {% set messages = grav.get('flex').collection('guestbook') %}

    {% if messages|length %}
        <h3>{{'PLUGIN_GUESTBOOK.MESSAGES'|t}}</h3>

        <table class="messages-container">
            {% for message in messages|reverse %}
            {% if (message.moderated and config.plugins.guestbook.moderation) or (not config.plugins.guestbook.moderation) %}
            <tr>
                <td>
                    {{message.text|e}}
                    <br />
                    {{'PLUGIN_GUESTBOOK.WRITTEN_ON'|t}} {{message.date|e}} {{'PLUGIN_GUESTBOOK.BY'|t}} {{message.author|e}}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
